<div class="jumbotron">
  <div class="container">
    <h1 class="mat-display-2 mb-4">Textil Aarão</h1>
    <p class="lead">Sistema de controle de estoque</p>
    <hr class="my-4">
    <a class="btn btn-light mr-3" href="#" role="button" routerLink="">
      Cadastrar um novo produto
    </a>
    <a class="btn btn-light mr-3" href="#" role="button" routerLink="consulta-produtos">
      Consultar produtos
    </a>
    <a class="btn btn-light mr-3" href="#" role="button" routerLink="consulta-emails">
      Consultar relatório de emails
    </a>

  </div>
</div>
<router-outlet></router-outlet>

